@import "style/responsive";

body {
  margin: 0;
  background: $background_color;
  font-family: Poppins, "Helvetica Neue", sans-serif;

  &.fixed {
    overflow: hidden;
  }
}

.mat-tooltip {
  font-size: 1rem;
}

.cdk-overlay-pane {
  @include mobile {
    max-width: 100vw !important;
  }
}
